
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;

}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;

}
#captureDiv {
    width: 500px;
    height: 375px;

}
