<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <button type="button" class="btn btn-secondary" onclick="location.href='/'">뒤로 가기</button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">관리자 모드</span>
                    </li>

                </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Charts</h1>
            <p class="mb-4">우리 가게 데이터를 확인해보세요</p>

            <!-- Content Row -->
            <div class="row">

                <div class="col-xl-8 col-lg-7">

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                            <hr>
                            여성 사용자 증감 확인
                        </div>
                    </div>

                    <!-- Bar Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-bar">
                                <canvas id="myBarChart"></canvas>
                            </div>
                            <hr>
                            시간대별 전체 방문자 통계
                        </div>
                    </div>
                    <!-- Image Input -->

                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">이미지 등록</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-input pt-4">
                                    <img id="previewImg" width="200px" alt="이미지 영역" />
                                </div>
                                <p></p>
                                <!--                        <hr>-->
                                <!--                        <input type="file" id="fileUpload" accept="image/*" >-->
                                <input id="fileupload" type="file" name="fileupload" multiple="multiple"/>
                                <p></p>
                                <button type="button" id="upload-button" class="btn btn-secondary" onclick="uploadFile()"> Upload </button>
                            </div>
                        </div>

                </div>

                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <hr>
                            방문 연령대 통계
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">방문 인원 확인</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-input pt-4">
                                <table class="table" style="font-size: 6px">
                                    <tbody>
                                    <tr>

                                        <th>추정 나이</th>
                                        <th>성별</th>
                                        <th>출입 당시 화면</th>
                                        <th>주의 인물</th>
                                        <th>방문 시간</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p></p>

                        </div>
                    </div>
                </div>


            </div>



        </div>

        </div>
        <!-- /.container-fluid -->


    </div>
    <!-- End of Main Content -->


</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>
<script src="personal.js"></script>
<script>
    tableDisplay();
    function tableDisplay() {
        $.ajax({
            type: "GET",
            data : {},
            url: "/chart/searchData",
            dataType: "json",
            success: function(data) {

                if(data.length==0){
                    $(".table>tbody").append("<tr><td colspan='5'>검색된 정보가 없습니다.</td></tr>");
                }else{
                    $(data).each(function(i) {
                        if (data[i]['visitedTime']==null){
                            return;
                        }
                        var suspect= data[i]['suspect'];
                        var datetime = new Date(data[i]['visitedTime'])
                        if(suspect==1){
                          suspect="O";
                        }else{
                            suspect="X";
                        }

                        var storeAdd = "<tr>"+
                            "<td>"+data[i]['age']+"</td>"+
                            "<td>"+data[i]['gender']+"</td>"+
                            "<td><img src='"+data[i]['imgPath']+"'style='height: 50px'></td>"+
                            "<td>"+suspect+"</td>"+
                            "<td>"+datetime+"</td>"+

                            "</tr>";
                        $(".table>tbody").append(storeAdd);
                    })

                }

            },

            error: function(xhr) {
                alert("에러코드 = "+xhr.status);
            }
        });
    }
</script>
</body>
</html>